
html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

button{
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #1B1B1B;
}

.header{
    margin-bottom: 90px;
}
.container{
    max-width: 1220px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.header__title{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    text-transform: uppercase;

    margin-left: auto;
}

.menu{
    margin-left: 92px;
    margin-right: 186px;
}

.menu__item{
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.user__nav{
    display: flex;
    gap: 0 20px;
}

.top{
    margin-bottom: 100px;
}

.top .swiper{
    padding-bottom: 50px;
}

.top-slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.top-slide__inner{
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.top-slide__content{
    flex-basis: 183px;
    margin-top: -112px;
}

.top-slide__title{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 56px;
}

.top-slide__subtitle{
    font-size: 24px;
    margin-bottom: 10px;
}

.top-slide__text{
    margin-bottom: 20px;
}

.top-slide__btn{
    margin-left: auto;
}

.button{
    color: #7449BB;
    border: 1px solid #7449BB;
    padding: 21px 55px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    transition: all .3s ease;
}

.button:hover{
    background-color: #7449BB;
    color: #fff;
}

.swiper-button-prev:after, 
.swiper-button-next:after{
    content: 'none';
}

.container-arrow{
    position: relative;
    padding: 0;
    max-width: 1200px;
}

.swiper-button-next{
    left: 75px;
    right: auto;
}

.about{
    margin-bottom: 100px;
    overflow: hidden;
}

.about__inner{
    padding-left: 200px;
}

.about__title{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    max-width: 185px;
    font-size: 32px;
    line-height: 1.34;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.about__textbox{
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about__text{
    flex-basis: 387px;
    line-height: 1.2;
}

.about__text p{
    margin-bottom: 15px;
}

.about__text--bold{
    font-weight: 700;
}


.about__item-title{
    margin-bottom: 20px;
}

.about__slider{
    width: 1800px;
    padding-left: 200px;
    margin-left: -200px;
    padding-bottom: 20px;
}

.about__arrow{
    margin-left: -198px;
    /* margin-top: -6px; */
}

.container__arrow .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
}

.accordeon{
    margin-bottom: 223px;
}

.accordeon__inner{
    padding-left: 203px;
}

.accordeon__item{
    border-bottom: 1px solid #000;
    padding: 0 101px 0 0;
    position: relative;
}

.accordeon__item::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 51px;
    background-image: url(../images/arrow-down.svg);
    right: 100px;
    top: 51px;
    pointer-events: none;
}

.accordeon__item:last-child::after{
    content: '';
    position: absolute;
    background-image: url(../images/accordeon-img.jpg);
    width: 65px;
    height: 120px;
    bottom: -105px;
    left: 268px;
}

.accordeon__triger{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
    cursor: pointer;
}

.accordeon__triger-title{
    text-transform: uppercase;
    font-size: 24px;
    flex-basis: 300px;
    padding-bottom: 42px;
}

.accordeon__triger-text{
    flex-basis: 387px;
    margin-right: 104px;
    padding-bottom: 20px;
}

.accordeon__content{
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
}

.accordeon__item--active .accordeon__content{
    display: block;
}

.accordeon__content p{
    padding-bottom: 10px;
}

.products{
    margin-bottom: 150px;
    overflow: hidden;
}

.products__inner{
    position: relative;
    min-height: 647px;
    
}

.products__title{
    font-family: "Playfair Display", serif;
    line-height: 1.34;
    font-size: 32px;
    width: 100px;
}

.products__items{
    display: flex;
    gap: 0 20px;
    position: absolute;
    top: 0;
    left: 200px;
}

.products__item{
    text-align: center;
}

.products__item-step{
    text-transform: uppercase;
    font-weight: 700;
    opacity: .5;
    margin-bottom: 20px;
}

.products__item-img{
    margin-bottom: 20px;
}

.products__item-name{
    margin-bottom: 10px;
}

.products__item-name span{
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
}

.products__item-price{
    font-family: "Playfair Display", serif;
    line-height: 1.34;
    font-size: 32px;
    font-style: italic;
}

.video{
    margin-bottom: 150px;
}

.video__box{
    margin-left: auto;
    max-width: 997px;
    min-height: 600px;
    background-image: url('../images/video-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: #C4A9CD;
    padding: 66px 0 100px;
}

.footer__top{
    margin-bottom: 70px;
    display: flex;
    gap: 0 70px;
    justify-content: space-between;
}

.footer__logo{
    margin-right: 10px;
}

.footer__items{
    flex-basis: 387px;
}

.footer__item + .footer__item{
    margin-top: 70px;
}

.footer__item-title{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer__item-form{
    position: relative;
}

.footer__item-input{
    width: 100%;
    display: block;
    padding: 10px 60px 10px 0;
    border: none;
    border-bottom: 1px solid #000;
    background-color: #C4A9CD;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #1B1B1B;
}

.footer__item-input::placeholder{
    font-size: 12px;
    color: #000;
    opacity: .4;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.footer__item-btn{
    position: absolute;
    right: 0; 
    top: 10px;
}

.footer__item-list li{
    padding-top: 10px;
}

.footer__social-list{
    margin-left: 10px;
    margin-right: 105px;
    align-self: flex-end;
}

.footer__social-item + .footer__social-item{
    margin-top: 20px;
}

.footer__social-item svg path {
    transition: all .3s;
} 

.footer__social-item svg:hover path{
    fill: #7449BB;
}

.footer__nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 105px;
}
.footer__nav-list{
    display: flex;
    gap: 0 20px;
}

.swiper-pagination{
    display: none;  
}

@media (max-width: 1640px){
    .products__title {
        width: 100%;
        margin-bottom: 50px;
    }
    .products__items {
        position: static;
    }
}

@media (max-width: 1240px){
    .products__item-img{
        width: 100%;
    }
}

@media (max-width: 1040px){
    .about__textbox{
        display: block; 
    }

    .accordeon__inner{
        padding-left: 0;
    }

    .footer__img{
        display: none;
    }
    .footer__nav{
        margin-right: 0;
    }
}

@media (max-width: 992px){
    .header__title{
        display: none;
    }

    .menu{
        margin-right: 0;
        margin-left: 0;
    }

    .container-arrow{
        display: none;
    }
    .swiper-pagination{
        display: block;
    }

    .about__textbox{
        margin-bottom: 50px;
    }

    .swiper-pagination-bullet-active {
        background-color: #7449BB;
    }

}

@media (max-width: 860px){
    .top-slide__inner{
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        min-height: 500px;
    }
    .top-slide__content{
        margin-top: 0;
    }
    .top-slide__img{
        display: none;
    }
    /* .top-slide__btn {
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 20px;
    } */
    .button {
        padding: 6px 30px;
        background-color: #7851b7;
        border-radius: 5px;
        color: #fff;
        font-weight: normal;
        font-size: 13px;
    }
    .button:hover{
        font-size: 14px;
        opacity: .8;
    }

    .top-slide__content {
        flex-basis: 330px;
        margin-top: 0x;
    }
    
    .top-slide__btn {
        margin-left: auto;
        margin-top: auto;
        margin-right: auto;
        margin-bottom: 7px;
    }

    .products__items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .products__item{
        margin-bottom: 30px;
        width: 45%;
    }
}

@media (max-width: 768px){
    .accordeon__triger{
        display: block;
        padding-top: 20px;
        padding-bottom: 0;

    }
    .accordeon__triger-title{
        padding-bottom: 10px;
    }
    .accordeon__item::before{
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    .video__box{
        min-height: 435px;
    }

    .footer__top{
        display: block;
    }
    .footer__logo{
        display: inline-block;
        margin-bottom: 20px;
    }
    .footer__item-form{
        max-width: 400px;
    }
    .footer__social-list{
        margin-top: 30px;
        display: flex;
        gap: 0 40px;
        margin-right: 0;
        margin-left: 0;
    }
    .footer__social-item + .footer__social-item {
        margin-top: 0;
    }
    .footer__nav-list{
        gap: 10px 20px;
        flex-wrap: wrap;
    }
}

@media (max-width: 630px){
    .about__inner {
        padding-left: 0;
    }
    .about__slider {
        padding-left: 0;
        margin-left: 0;
    }
    .about__arrow{
        display: none;
    }

    .products__item{
        width: 100%;
    }
    .products__item-img{
        width: 80%;
    }
}

@media (max-width: 475px){
    .top-slide__img {
        display: none;
    }
    .top-slide__content {
        flex-basis: 100%;
        order: -1;
        margin: 0;
        text-align: center;
    }
    .top-slide__title {
        font-size: 32px;
        margin-bottom: 10px;
    }
    .top-slide__text{
        margin-bottom: 10px;
    }
    
    .top-slide__img-mini{
        width: 39%;
        object-fit: cover;
        margin: 0 auto;
    }

    .accordeon__item{
        padding: 0 50px 0 0;
    }
    .accordeon__item::before{
        right: 0;
    }
    .accordeon__triger-text{
        margin-right: 0; 
    }
}

@media (max-width: 420px){
    .header__inner{
        flex-wrap: wrap;
        align-items: center;
    }
    .logo,
    .user__nav{
        order: -1; 
    }
    .menu{
        padding-top: 30px;
        text-align: right;
        width: 100%;
    }
    
    .top,
    .about,
    .products,
    .video {
        margin-bottom: 50px;
    }

    .about__slider{
        width: 1400px;
    }
    .about__item img{
        width: 340px;
    }

    .accordeon {
        margin-bottom: 140px;
    }
    .accordeon__item:last-child::after{
        left: 210px;
    }

    .video__box{
        min-height: 225px;
    }

    .footer {
        padding: 29px 0 30px;
    }
    .footer__top{
        margin-bottom: 30px;
    }
    .footer__item + .footer__item{
        margin-top: 30px;
    }

}   

@media (max-width: 375px){
    .about__slider{
        width: 1200px;
    }
    .about__item img{
        width: 280px;
    }
}